.add-product {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 3%;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: "Quicksand", sans-serif !important;
}

.input-item-group {
  display: flex;
  flex-direction: column;
}
.input-item-group div {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  padding: 1rem;
}

.input-item-group input {
  background: white;
  color: blue;
  margin-left: 0.36rem;
  padding: 0.56rem;
  align-items: center;
  font-size: 0.92rem;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  font-family: "Quicksand", sans-serif !important;
}

.input-item-group select {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: "Quicksand", sans-serif !important;
  border: none;
  font-weight: bold;
  font-size: 0.92rem;
  align-items: center;
  margin-left: 0.36rem;
  background: white;
  color: blue;
  height: 2rem;
}

input:focus::placeholder {
  color: transparent;
}

.btn-submit {
  background-color: rgb(184, 20, 20) !important;
  color: white !important;
}

.btn-submit:hover {
}
